In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('paket_data.csv')

print(data)

      No   Operator                                  Product  \
0      1         XL             Xtra Hotrod Special 2GB, 7hr
1      2         XL             Xtra Hotrod Special 3GB, 7hr
2      3       Axis                 BRONET Mini 1.5GB 7 hari
3      4  Telkomsel           Telkomsel Data Flash 1GB, 30Hr
4      5       Axis                   BRONET Mini 2GB 7 hari
..   ...        ...                                      ...
248  249    Indosat             Freedom Combo 60GB / 30 Hari
249  250         XL            Paket Internet XL HotRod 12GB
250  251  Telkomsel         PAKET INTERNET BULANAN OMG! 210K
251  252         XL            Paket Internet XL HotRod 16GB
252  253         XL  Paket Akrab 460GB + Bonus Pulsa 100.000

                                           Description  Normal Price   Price  \
0    Kuota Utama 500MB + Kuota Area hingga 3.5GB + ...         11941   11200
1    Kuota Utama 1GB + Kuota Area hingga 6GB + YouT...         14889   14000
2    Kuota Internet 1.5GB berlaku di semua Jaringan...         14850   13973
3                  Kuota utama 1GB, masa aktif 30 Hari         24280   23550
4    Kuota Internet 2GB berlaku di semua Jaringan 2...         18849   16357
..                                                 ...           ...     ...
248  • Kuota Utama 45GB+Kuota Malam 15GB. • Baru! K...        162600  162600
249   Kuota Utama 12GB (2G/3G/4G). Masa aktif 30 hari.        175895  175895
250                      KUOTA 43GB sd 83GB + 2GB OMG!        217025  217025
251   Kuota Utama 16GB (2G/3G/4G). Masa aktif 30 hari.        215000  215000
252  160GB Kuota Bersama + Bonus Kuota Pribadi hing...        515000  515000

     Discount
0         741
1         889
2         877
3         730
4        2492
..        ...
248         0
249      4105
250         0
251      5000
252         0

[253 rows x 7 columns]

In [3]:
data['Operator'] = data['Operator'].str.lower()
data['Product'] = data['Product'].str.lower()
data['Description'] = data['Description'].str.lower()

data

,No,Operator,Product,Description,Normal Price,Price,Discount
0,1,xl,"xtra hotrod special 2gb, 7hr",kuota utama 500mb + kuota area hingga 3.5gb + ...,11941,11200,741
1,2,xl,"xtra hotrod special 3gb, 7hr",kuota utama 1gb + kuota area hingga 6gb + yout...,14889,14000,889
2,3,axis,bronet mini 1.5gb 7 hari,kuota internet 1.5gb berlaku di semua jaringan...,14850,13973,877
3,4,telkomsel,"telkomsel data flash 1gb, 30hr","kuota utama 1gb, masa aktif 30 hari",24280,23550,730
4,5,axis,bronet mini 2gb 7 hari,kuota internet 2gb berlaku di semua jaringan 2...,18849,16357,2492
...,...,...,...,...,...,...,...
248,249,indosat,freedom combo 60gb / 30 hari,• kuota utama 45gb+kuota malam 15gb. • baru! k...,162600,162600,0
249,250,xl,paket internet xl hotrod 12gb,kuota utama 12gb (2g/3g/4g). masa aktif 30 hari.,175895,175895,4105
250,251,telkomsel,paket internet bulanan omg! 210k,kuota 43gb sd 83gb + 2gb omg!,217025,217025,0
251,252,xl,paket internet xl hotrod 16gb,kuota utama 16gb (2g/3g/4g). masa aktif 30 hari.,215000,215000,5000
252,253,xl,paket akrab 460gb + bonus pulsa 100.000,160gb kuota bersama + bonus kuota pribadi hing...,515000,515000,0

In [4]:
product = []
kuota = []
durasi = []

In [5]:
# print(len(data['Product']))
x = 0
for x in range (len(data['Product'])):
    dt = data['Product'][x].replace(',' , '').replace(' hari','hr').replace('hari','hr')
    dt = dt.replace(' gb','gb').replace(' mb','mb')
    split = dt.split()
    var = 0
    for i in range (len(split)): 
        if 'gb' in split[i]:
            x+=1
            prod = split[:i]
            prod_change = ' '.join(str(elem) for elem in prod)
            product.append(prod_change)
            kuota.append(split[i])
            if 'hr' in split[len(split)-1]:
                durasi.append(split[len(split)-1])
            elif 'bulan' in split[len(split)-1]:
                bln = split[len(split)-2]*30
                durasi.append(bln)
            else:
                durasi.append('0')
            var = 1
            break
                
        elif split[i][-2:] == 'mb':
            x+=1
            prod = split[:i]
            prod_change = ' '.join(str(elem) for elem in prod)
            product.append(prod_change)
            kuota.append(split[i])
            if 'hr' in split[len(split)-1]:
                bln = split[len(split)-1]
                durasi.append(bln)
            elif 'bulan' in split[len(split)-1]:
                bln = split[len(split)-2]*30
                durasi.append(bln)
            else:
                durasi.append('0')
            var = 1
            break
    
    if var == 0:
        kuota.append('')
        if 'hr' in split[len(split)-1]:
            prod = split[:len(split)-1]
            prod_change = ' '.join(str(elem) for elem in prod)
            product.append(prod_change)
            bln = split[len(split)-1]
            durasi.append(bln)
        elif 'bulan' in split[len(split)-1]:
            prod = split[:len(split)-1]
            prod_change = ' '.join(str(elem) for elem in prod)
            product.append(prod_change)
            bln = split[len(split)-2]*30
            durasi.append(bln)
            
        else:
            product.append(dt)
            durasi.append('0')
        x+=1

 
#     print(len(split))
print(x)

253

In [6]:
data['Product'] = product
data['Kuota'] = kuota
data['Durasi'] = durasi

In [7]:
data

,No,Operator,Product,Description,Normal Price,Price,Discount,Kuota,Durasi
0,1,xl,xtra hotrod special,kuota utama 500mb + kuota area hingga 3.5gb + ...,11941,11200,741,2gb,7hr
1,2,xl,xtra hotrod special,kuota utama 1gb + kuota area hingga 6gb + yout...,14889,14000,889,3gb,7hr
2,3,axis,bronet mini,kuota internet 1.5gb berlaku di semua jaringan...,14850,13973,877,1.5gb,7hr
3,4,telkomsel,telkomsel data flash,"kuota utama 1gb, masa aktif 30 hari",24280,23550,730,1gb,30hr
4,5,axis,bronet mini,kuota internet 2gb berlaku di semua jaringan 2...,18849,16357,2492,2gb,7hr
...,...,...,...,...,...,...,...,...,...
248,249,indosat,freedom combo,• kuota utama 45gb+kuota malam 15gb. • baru! k...,162600,162600,0,60gb,30hr
249,250,xl,paket internet xl hotrod,kuota utama 12gb (2g/3g/4g). masa aktif 30 hari.,175895,175895,4105,12gb,0
250,251,telkomsel,paket internet bulanan omg! 210k,kuota 43gb sd 83gb + 2gb omg!,217025,217025,0,,0
251,252,xl,paket internet xl hotrod,kuota utama 16gb (2g/3g/4g). masa aktif 30 hari.,215000,215000,5000,16gb,0
252,253,xl,paket akrab,160gb kuota bersama + bonus kuota pribadi hing...,515000,515000,0,460gb,0

In [8]:
data.to_csv('Re_paket_data.csv')